<html>

  <head>
<style>
p.two {
    float: right;
    color: white;
    font-size:27px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
p.one {
    float: left;
    color: white;
    font-size:27px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
p.three {
    text-align: center;
    margin-top: 12px;
    color: white;
    font-size:27px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

body {
width:45px;
}
  p { margin: 0; }

</style>
    
    </head>
  <body>
<p class="one">{{ ul }}</p><p class="two">{{ ur }}</p><br>
<p class="three">{{ lower }}</p>
</body>
</html>
