<!doctype html>
<html>
    <head>
        <title>{{ id }}</title>
        <style>
table {
    background-color: white;
    border: solid black 2px;
}
td {
    vertical-align: top;
    padding: 1em;
}
.picture img {
    max-height: 200px;
}
h1, h2 {
    margin-top: 0px;
    padding-top: 0px;
}
        </style>
    </head>
    <body>

<table>
    <tbody>
        <tr>
            <td class="picture">
                <img src="static/{{ name }}.png"/>
            </td>
            <td>
                <h1>{{ name }}</h1>
                <h2>{{ id }}</h2>
                <div class="address">{{ address }}<br/>{{ city }}, {{ state }}</div>
                <div class="phone">{{ phone }}</div>
                <div class="hours">{{ hours }}</div>
            </td>
        </tr>
    </tbody>
</table>

    </body>
</html>
